<html>
    <head>
        <title>AlinaPom blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">AlinaPom Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Первый пост</a></h2>
            <p>Текст первого поста</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Второй пост</a></h2>
            <p>Текст второго поста</p>
        </div>
    </body>
</html>